<h3>Edit card</h3>

<%= link_to "Back to card view", card_path %>

<%= form_for @card do |f| %>
	<% if @card.errors.any? %>
	<ul>
		<% @card.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
	<p>
		<%= f.label :name, "Name:" %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :company, "Company:" %><br>
		<%= f.text_field :company %>
	</p>
	<p>
		<%= f.label :phone, "Phone:" %><br>
		<%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label :street, "Street:" %><br>
		<%= f.text_field :street %>
	</p>
	<p>
		<%= f.label :city, "City:" %><br>
		<%= f.text_field :city %>
	</p>
	<p>
		<%= f.label :postal, "postal:" %><br>
		<%= f.text_field :postal %>
	</p>
	<p>
		<%= f.label :website, "Website:" %><br>
		<%= f.text_field :website %>
	</p>
	<p>
		<%= f.label :twitter, "Twitter:" %><br>
		<%= f.text_field :twitter %>
	</p>
	<p>
		<%= f.label :flickr, "Flickr:" %><br>
		<%= f.text_field :flickr %>
	</p>
	<p>
		<%= f.label :facebook, "Facebook:" %><br>
		<%= f.text_field :facebook %>
	</p>
	<p>
		<%= f.label :photo, "Photo:" %><br>
		<%= f.text_field :photo %>
	</p>
	<%= f.submit "Edit"%>
<% end %>