<h3>Add a card</h3>

<%= form_for @card, :html => { :multipart => true } do |f| %>
	<% if @card.errors.any? %>
	<ul>
		<% @card.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
	<ul class="tabs">
		<li><a class="active" href="#personal">Personal details</a></li>
		<li><a href="#address">Address</a></li>
		<li><a href="#websites">Websites</a></li>
	</ul>
	
	<ul class="tabs-content">
		<li class="active" id="personal">
			<p>
				<%= f.label :name, "Name:" %><br>
				<%= f.text_field :name %>
			</p>
			<p>
				<%= f.label :company, "Company:" %><br>
				<%= f.text_field :company %>
			</p>
			<p>
				<%= f.label :phone, "Phone:" %><br>
				<%= f.text_field :phone %>
			</p>
			<%= f.file_field :avatar %>
		</li>
		<li id="address">
			<p>
				<%= f.label :street, "Street:" %><br>
				<%= f.text_field :street %>
			</p>
			<p>
				<%= f.label :city, "City:" %><br>
				<%= f.text_field :city %>
			</p>
			<p>
				<%= f.label :postal, "postal:" %><br>
				<%= f.text_field :postal %>
			</p>
		</li>
		<li id="websites">
			<p>
				<%= f.label :website, "Website:" %><br>
				<%= f.text_field :website %>
			</p>
			<p>
				<%= f.label :twitter, "Twitter:" %><br>
				<%= f.text_field :twitter %>
			</p>
			<p>
				Find your ID using <a href="http://idgettr.com/" title="idGettr &mdash; Find your Flickr ID">http://idgettr.com/</a>
				<%= f.label :flickr, "Flickr:" %><br>
				<%= f.text_field :flickr %>
			</p>
			<p>
				<%= f.label :facebook, "Facebook:" %><br>
				<%= f.text_field :facebook %>
			</p>
		</li>
	</ul>
	
	<input type="hidden" id="card_owner" name="card[owner]" value="<%= current_user.id %>">
	
	<%= f.submit "Add"%>
<% end %>