<h3>Add a profile</h3>

<%= form_for @card do |f| %>
	<% if @card.errors.any? %>
	<ul>
		<% @card.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>
	<p>
		<%= f.label :name, "Name:" %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :website, "Website:" %><br>
		<%= f.text_field :website %>
	</p>
	<%= f.submit "Add"%>
<% end %>