<h2>Available cards</h2>
	
<div class="three columns">
	<%= render 'cards/list' %>
</div>
<div class="ten columns" id="profile">
	<h3><%= @card.name %></h3>
	<%= link_to "Edit card", edit_card_path %>
	<%= link_to "Delete card", '', :method => :delete %>
	<ul>
		<li><strong>Website:</strong> <% if !@card.website.blank? %><%= link_to @card.website, @card.website %><% else %>no website<% end%> </li>
		<li><strong>Photo:</strong></li>
		<li><strong>Address:</strong></li>
		<li><strong></strong></li>
	</ul>
	
	<%= image_tag @user.avatar.url %>
	<%= image_tag @user.avatar.url(:medium) %>
	<%= image_tag @user.avatar.url(:thumb) %>
	
	<a href="#">Download the data</a>
</div>
<div class="three columns">
<h5>Recent activity</h5>
</div>